@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
body {
  font-family: "Poppins";
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 2.369rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 2.369rem;
  }
  h2 {
    font-size: 1.777rem;
  }
  h3 {
    font-size: 1.333rem;
  }
  h4 {
    font-size: 1.333rem;
  }
  h5 {
    font-size: 0.75rem;
  }
  .body {
    font-size: 16px;
  }
}
html,
body {
  background-color: #01181e;
  color: #ffffff;
  scroll-behavior: smooth;
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background: #123;
}

.backgroundFX {
  display: flex;
  font-size: 52px;
  color: transparent;
  z-index: 0;
}
@media (max-width: 767.98px) {
  .backgroundFX {
    width: 100vw;
  }
}

.backgroundFX::before, .backgroundFX::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

.backgroundFX::before {
  text-shadow: 0.1892865477em 0.5617310636em 7px hsla(281.4547144252, 100%, 50%, 0.9), 1.2568630427em 0.3956983215em 7px hsla(250.6289642351, 100%, 50%, 0.9), 0.8213258048em 0.1664247944em 7px hsla(256.2909226873, 100%, 50%, 0.9), 2.3781541698em 0.6435344276em 7px hsla(264.5719670348, 100%, 50%, 0.9), 1.0584264698em 2.323276693em 7px hsla(240.5801543947, 100%, 50%, 0.9), -0.2674680284em -0.0207234517em 7px hsla(230.0236519394, 100%, 50%, 0.9), -0.2498945797em 1.3296451946em 7px hsla(240.9909711032, 100%, 50%, 0.9), 1.0985616995em 1.2878788003em 7px hsla(206.5763831219, 100%, 50%, 0.9), 1.3952067485em 1.9033939193em 7px hsla(268.4862466523, 100%, 50%, 0.9), 0.9385652885em 1.7786106205em 7px hsla(289.5370169321, 100%, 50%, 0.9), -0.4489539371em 1.7492455372em 7px hsla(248.5596749882, 100%, 50%, 0.9), 2.0948012306em 1.5436365819em 7px hsla(247.595012693, 100%, 50%, 0.9), 0.8619254728em 2.1094531388em 7px hsla(265.981376285, 100%, 50%, 0.9), 0.0602052088em 1.9518559552em 7px hsla(271.0627590829, 100%, 50%, 0.9), 0.0039585752em 0.0171966666em 7px hsla(246.7778496857, 100%, 50%, 0.9), 0.988021664em -0.1061812072em 7px hsla(244.715192034, 100%, 50%, 0.9), 0.6668346605em 1.9774455165em 7px hsla(225.4920952829, 100%, 50%, 0.9), 0.2165427269em 2.1397040894em 7px hsla(262.4006660587, 100%, 50%, 0.9), 0.829540632em -0.4458841388em 7px hsla(265.2031758338, 100%, 50%, 0.9), 1.4177433278em 1.8435489275em 7px hsla(294.3167159882, 100%, 50%, 0.9), 0.2835149006em 1.0002368218em 7px hsla(213.5086640855, 100%, 50%, 0.9), 1.2800359281em 0.2122182386em 7px hsla(220.0968098043, 100%, 50%, 0.9), 2.4724107786em 0.135382404em 7px hsla(294.2868975346, 100%, 50%, 0.9), 1.246076343em 2.2832887882em 7px hsla(272.6000279489, 100%, 50%, 0.9), 2.1866678089em -0.4136427551em 7px hsla(223.6822828064, 100%, 50%, 0.9), -0.3715246231em -0.4978219702em 7px hsla(269.1837279019, 100%, 50%, 0.9), -0.3332786275em 0.6655492284em 7px hsla(288.0296176338, 100%, 50%, 0.9), 0.7059372283em 0.1467030131em 7px hsla(264.1227955873, 100%, 50%, 0.9), -0.0651020844em 1.7858515711em 7px hsla(279.326846311, 100%, 50%, 0.9), 0.7932182787em 0.6190118709em 7px hsla(244.2409306951, 100%, 50%, 0.9), 0.9446786644em 0.558308952em 7px hsla(210.6244352753, 100%, 50%, 0.9), -0.2387963507em -0.171210503em 7px hsla(289.0950313918, 100%, 50%, 0.9), 0.3612579201em 1.1045021343em 7px hsla(228.7419620902, 100%, 50%, 0.9), 2.2588190428em -0.245627624em 7px hsla(213.9525516614, 100%, 50%, 0.9), -0.033598875em 1.4586436833em 7px hsla(228.6919935147, 100%, 50%, 0.9), -0.3460784357em 1.7231020842em 7px hsla(203.9380756444, 100%, 50%, 0.9), 0.7833572097em 2.231965622em 7px hsla(295.60045526, 100%, 50%, 0.9), 0.0273098443em -0.3584348573em 7px hsla(275.8365498303, 100%, 50%, 0.9), 1.6381545555em 0.2384716133em 7px hsla(231.5411788321, 100%, 50%, 0.9), 1.9267077307em 0.021650207em 7px hsla(294.2677864231, 100%, 50%, 0.9), 0.5290447019em 0.3434881737em 7px hsla(218.4051900716, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

.backgroundFX::after {
  text-shadow: 1.0037909596em -0.1365647668em 7px hsla(236.6846056059, 100%, 50%, 0.9), 1.2722180492em 1.9317454174em 7px hsla(230.2657971977, 100%, 50%, 0.9), 0.2677071441em 0.2778918649em 7px hsla(205.9280997518, 100%, 50%, 0.9), -0.3906415942em 1.3332768446em 7px hsla(262.3589162962, 100%, 50%, 0.9), 2.4065253676em 1.2185610379em 7px hsla(208.4766685533, 100%, 50%, 0.9), 1.9134346101em 1.4340191446em 7px hsla(292.277890665, 100%, 50%, 0.9), 1.9322015737em 2.2088636522em 7px hsla(280.94721919, 100%, 50%, 0.9), -0.3871830231em -0.1494296108em 7px hsla(257.7297393005, 100%, 50%, 0.9), 0.0849403438em 1.949334067em 7px hsla(275.1581445597, 100%, 50%, 0.9), 2.3649746996em 2.3866958948em 7px hsla(255.7621425452, 100%, 50%, 0.9), 1.8283983741em 0.156776943em 7px hsla(284.1694970503, 100%, 50%, 0.9), 1.4015296584em 1.3578763917em 7px hsla(257.1169100211, 100%, 50%, 0.9), 0.6667088632em 0.1785537419em 7px hsla(219.8976565429, 100%, 50%, 0.9), 1.1388506305em 1.6126276442em 7px hsla(284.3511570446, 100%, 50%, 0.9), 0.2020677841em 0.2234766606em 7px hsla(219.2197944692, 100%, 50%, 0.9), 1.6200529529em 0.4930320327em 7px hsla(212.9119486246, 100%, 50%, 0.9), -0.2393055956em 1.1706549138em 7px hsla(258.3625084617, 100%, 50%, 0.9), -0.3135410267em 1.7049546782em 7px hsla(256.8108336362, 100%, 50%, 0.9), 1.8844619629em 1.2891313174em 7px hsla(263.991665096, 100%, 50%, 0.9), 0.2464723654em 0.3093089518em 7px hsla(263.1168109906, 100%, 50%, 0.9), 2.0799936848em 1.5435106138em 7px hsla(286.1769399993, 100%, 50%, 0.9), 2.1423662578em 0.1910343269em 7px hsla(250.5340260834, 100%, 50%, 0.9), -0.1614706564em 2.0804471693em 7px hsla(221.9668027446, 100%, 50%, 0.9), 0.4460042855em 1.1793771644em 7px hsla(288.6537222663, 100%, 50%, 0.9), 0.8024345673em 1.2987312367em 7px hsla(237.7196143771, 100%, 50%, 0.9), 0.0977931473em 0.3942581859em 7px hsla(297.9070248973, 100%, 50%, 0.9), 2.1138611127em 1.7120873687em 7px hsla(252.6771532876, 100%, 50%, 0.9), 0.7532919584em 2.4826514982em 7px hsla(257.9673528705, 100%, 50%, 0.9), 2.4374353517em 0.0136949789em 7px hsla(263.6185819112, 100%, 50%, 0.9), 0.8472163621em 0.1326003901em 7px hsla(228.0814886527, 100%, 50%, 0.9), 1.3157381689em 1.6418577747em 7px hsla(235.0456530933, 100%, 50%, 0.9), 0.0545920433em 0.1690950319em 7px hsla(243.5920652853, 100%, 50%, 0.9), 2.4621785874em 0.8542648118em 7px hsla(242.0623528291, 100%, 50%, 0.9), 1.4562926574em 0.444636327em 7px hsla(215.8645137636, 100%, 50%, 0.9), 0.5213055077em -0.0534285247em 7px hsla(214.3321196341, 100%, 50%, 0.9), 0.1014883024em 0.8210428712em 7px hsla(241.0228005522, 100%, 50%, 0.9), 0.832646396em 0.2271676604em 7px hsla(262.0721318444, 100%, 50%, 0.9), 0.4759145803em -0.0885344985em 7px hsla(252.1191591963, 100%, 50%, 0.9), 0.469661101em 0.7184323149em 7px hsla(253.4065692684, 100%, 50%, 0.9), 1.193265139em 1.0661227517em 7px hsla(293.7000510295, 100%, 50%, 0.9), 1.4328083302em 1.2157450374em 7px hsla(279.1646478782, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
@media (max-width: 767.98px) {
  .App {
    width: 100vw;
    text-align: center;
  }
}
.languageSelector {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: #ffffff;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 120px;
  position: relative;
  background-color: #022631;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: rgb(229, 231, 235);
  margin: 0 2em;
}
.languageSelector:hover {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .languageSelector {
    font-size: 0.5rem;
    width: 70px;
    margin: 0 0.5em;
  }
}

.CTAButton {
  padding: 0.5em 2em;
  background-color: #5931dd;
  color: white;
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  display: inline-block;
  z-index: 2;
  white-space: nowrap;
}
.CTAButton:hover {
  transform: translateY(5px);
  cursor: pointer;
}

.largeCardComponent {
  background-color: #5931dd;
  color: #ffffff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  height: 600px;
  width: 350px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
}
.largeCardComponent__coverImage {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}
.largeCardComponent__content {
  padding: 0px 24px 32px;
}
.largeCardComponent__image {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.largeCardComponent__imageContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: -50px;
}
.largeCardComponent__imageAvatar {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: rgb(229, 231, 235);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  height: 100px;
  width: 100px;
}
.largeCardComponent__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.largeCardComponent__skillName, .largeCardComponent__skillTime {
  margin: 0;
}
.largeCardComponent__divider {
  border: solid #ffffff 0.5px;
  margin: 1em;
}
.largeCardComponent__tagContainer {
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  max-width: 100%;
}
.largeCardComponent__Container {
  width: 80%;
  background-color: #022631;
  padding: 2em 1em;
  color: rgb(17, 25, 39);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgb(242, 244, 247);
  border-radius: 20px;
  background-image: none;
  overflow: hidden;
  flex-flow: wrap;
  min-width: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.tag {
  max-width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.8125rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  color: #ffffff;
  border-radius: 16px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0px;
  text-decoration: none;
  padding: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(229, 231, 235);
  font-weight: 500;
  margin: 4px;
}
.tag__text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .tag {
    font-size: 0.65rem;
  }
}

.form__container {
  width: 60%;
}
.form__input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: #ffffff;
  padding: 25px 12px 8px;
  box-sizing: border-box;
  font-family: monospace;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: rgb(229, 231, 235);
}
.form__largeInput {
  height: 200px;
}
.form__label {
  color: #ffffff;
  line-height: 1.4375em;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: relative;
  left: 0px;
  top: 10px;
  transform: translate(12px, 16px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
}
.form__label:focus {
  transform: translate(12px, 6px) scale(0.85);
}

.projectPreview__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #5931dd;
  color: #ffffff;
  transition: box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: max-height 400ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  min-height: 420px;
  max-height: 805px;
  width: 320px;
  padding: 16px;
}
.projectPreview__cardContainer {
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .projectPreview__card {
    width: 75%;
  }
}
.projectPreview__card:hover, .projectPreview__card:focus {
  cursor: pointer;
  box-shadow: 0 0 20px #6c56b3;
}
.projectPreview__card:hover .projectPreview__image {
  max-height: 320px;
  margin: 1em 0;
}
.projectPreview__card:hover .projectPreview__date {
  margin: 0 4px;
}
.projectPreview__image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: max-height 400ms ease-in-out;
  max-height: 0;
  top: 0px;
  width: 100%;
  margin: 0;
  border-radius: 15px;
}
.projectPreview__date {
  margin: 0 4px;
}
.projectPreview__title {
  font-size: 1.777rem;
  margin: 0 4px;
  padding: 0;
}
.projectPreview__description {
  margin: 0 4px;
}

.servicesCard {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 25, 39);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  height: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 25%;
  min-height: 968px;
  min-width: 285px;
}
@media (max-width: 1440px) {
  .servicesCard {
    max-width: 60%;
    margin: 1em 1em;
  }
}
@media (max-width: 767.98px) {
  .servicesCard {
    min-width: 0;
    max-width: 60%;
    margin: 1em 0;
    min-height: 0;
  }
}
.servicesCard__container {
  display: flex;
  justify-content: space-evenly;
  max-width: 100vw;
}
@media (max-width: 767.98px) {
  .servicesCard__container {
    flex-direction: column;
    align-items: center;
  }
}
.servicesCard__text {
  text-align: center;
  z-index: 2;
}
.servicesCard__image {
  width: 90%;
  z-index: 2;
  margin: 2em 0;
  aspect-ratio: 1/1;
}
@media (max-width: 767.98px) {
  .servicesCard__image {
    width: 100%;
  }
}
.servicesCard__button {
  max-width: 150px;
  padding: 0.5em 1em;
  text-align: center;
  color: white;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 1440px) {
  .servicesCard__button {
    padding: 0.5em;
  }
}
.servicesCard__buttonContainer {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
}
@media (max-width: 767.98px) {
  .servicesCard__buttonContainer {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}
@media (max-width: 1280px) {
  .servicesCard__buttonContainer {
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  z-index: 10;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .navbar {
    font-size: 0.5rem;
    padding: 1em 0;
  }
}
.navbar__menu {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1440px) {
  .navbar__menu {
    width: 100%;
  }
}
.navbar__menu a {
  color: #ffffff;
  text-decoration: none;
}
.navbar__menuItem {
  z-index: 2;
  transition: transform 200ms ease-in-out, scale 200ms ease-in-out;
}
.navbar__menuItem:hover, .navbar__menuItem:focus {
  cursor: pointer;
  transform: translateY(-5px);
  scale: 1.2;
  font-weight: 800;
}
.navbar--scrolled {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border-radius: 0;
}

.socials {
  margin-top: -50px;
  margin-bottom: 50px;
  max-height: 5vw;
  position: sticky;
  z-index: 5;
  top: 20%;
  left: 100%;
  scale: 0.75;
  transition: scale ease-in-out 200ms;
}
.socials:hover, .socials:focus {
  scale: 1.25;
}
@media (max-width: 767.98px) {
  .socials {
    scale: 1;
    font-size: 10px;
    margin-top: -100px;
    left: 100%;
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 0.5em;
}

@media (max-width: 737px) {
  .social-list {
    width: 60vw;
  }
}
.social-list__link {
  color: #5931dd;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.5em;
  width: 100%;
  height: 100%;
}
.social-list__icon:hover, .social-list__icon:active {
  animation: bounce2 2000ms ease infinite;
  cursor: pointer;
}
.social-list__item {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal {
  background-color: #022631;
  position: fixed;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  z-index: 9;
  overflow: scroll;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modalClose {
  position: sticky;
  position: -webkit-sticky;
  align-self: auto;
  top: 0;
  margin-top: 2em;
  left: 95%;
  outline: 0px;
  border: 0px;
  margin: 10px;
  cursor: pointer;
  line-height: 1.75;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #ffffff;
  border-radius: 12px;
  padding: 6px 16px;
  background-color: #022631;
}
.modalClose:hover, .modalClose:focus {
  cursor: pointer;
  background-color: #6c56b3;
  box-shadow: 0 0 20px #6c56b3;
}

.Overlay {
  display: flex;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.projectModal {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 16px;
}
.projectModal__image {
  max-width: 49%;
  object-fit: contain;
  width: auto;
  height: auto;
}
@media (max-width: 767.98px) {
  .projectModal__image {
    width: 100%;
    max-width: 100%;
  }
}
.projectModal__firstContainer {
  display: flex;
  gap: 2em;
}
@media (max-width: 767.98px) {
  .projectModal__firstContainer {
    flex-direction: column;
    width: 100%;
  }
}
.projectModal__secondContainer {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2em 0.5em;
  overflow: hidden;
  align-self: flex-start;
  margin: 1em 1em;
}
@media (max-width: 767.98px) {
  .projectModal__secondContainer {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 100%;
  }
}
.projectModal__exampleImages {
  max-width: 90%;
  max-height: 800px;
  transition: transform 200ms ease-in-out;
}
.projectModal__exampleImages:hover {
  cursor: pointer;
}
.projectModal__exampleImages--focus {
  position: absolute;
  z-index: 11;
  transform: translateY(-200px);
  height: auto;
  max-width: 80vw;
  max-height: auto;
  overflow: scroll;
  object-fit: cover;
  opacity: 1;
}
@media (max-width: 767.98px) {
  .projectModal__exampleImages {
    width: 100%;
    justify-self: center;
    min-width: 0%;
  }
}
.projectModal__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectModal__link {
  top: 20%;
  color: white;
  background-origin: padding-box;
  text-decoration: none;
  border: solid white 2px;
  padding: 0.5em 0.75em;
  font-size: 48px;
  border-radius: 15px;
  text-align: center;
  width: 50px;
  margin: 0.5em;
  transition: color 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}
.projectModal__link:hover {
  background-color: white;
  color: #6c56b3;
}

.contact__modal {
  width: 40vw;
  height: 40vh;
}
@media (max-width: 767.98px) {
  .contact__modal {
    width: 80%;
    height: 80%;
  }
}
.contact__modalDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.homepage__experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage__about {
  background-color: #01181e;
  z-index: 1;
  padding: 2em 0;
  min-height: 40vh;
  width: 100%;
}
.homepage__aboutText {
  width: 80%;
  font-size: 1.777rem;
  text-align: center;
}
@media (max-width: 767.98px) {
  .homepage__aboutText-content {
    font-size: 0.75rem;
  }
}
@media (max-width: 767.98px) {
  .homepage__about {
    margin: 2em 0;
  }
}
.homepage__contact {
  z-index: 1;
  margin-bottom: 4em;
}
.homepage__projects {
  margin: 4em 0;
  z-index: 1;
  background-color: #01181e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
  height: 90vh;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .hero {
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 100%;
  }
}
.hero__image {
  border-radius: 50%;
  width: 95%;
  height: 95%;
}
.hero__imageContainer {
  border-radius: 50%;
  width: 228px;
  height: 228px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media (max-width: 767.98px) {
  .hero__hello {
    margin: 1em 0.5em 0.25em 0.5em;
  }
}
@media (max-width: 767.98px) {
  .hero__intro {
    margin: 0.25em 1em;
  }
}

.projects__container {
  min-height: 800px;
  width: 90%;
  gap: 4em 2em;
  overflow: hidden;
  margin: 2em 1em;
  padding: 0 2em;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: wrap;
}
@media (max-width: 767.98px) {
  .projects__container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    padding: 0;
    margin: 0 1em 2em 1em;
  }
}

.section__title {
  margin: 2em;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .section__title {
    margin: 1em 0;
  }
}

@media (max-width: 767.98px) {
  .contact__text {
    width: 80%;
  }
}

/*# sourceMappingURL=App.css.map */
