@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
body {
  font-family: "Poppins";
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

html,
body {
  background-color: #01181e;
  color: #ffffff;
  scroll-behavior: smooth;
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background: #123;
}

.backgroundFX {
  display: flex;
  font-size: 52px;
  color: transparent;
  z-index: 0;
}

.backgroundFX::before, .backgroundFX::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

.backgroundFX::before {
  text-shadow: -0.2676328065em 0.4092955145em 7px hsla(243.1148193828, 100%, 50%, 0.9), 2.1780565185em 0.5034261488em 7px hsla(289.9958651172, 100%, 50%, 0.9), 0.4829144033em 0.5688888452em 7px hsla(260.2937838932, 100%, 50%, 0.9), 2.4070554583em 1.7328981861em 7px hsla(250.2475234785, 100%, 50%, 0.9), 0.0486666201em 2.468041417em 7px hsla(207.1528405817, 100%, 50%, 0.9), 1.4723878902em 1.3975227269em 7px hsla(239.5345500012, 100%, 50%, 0.9), 0.6831183287em 1.7694738215em 7px hsla(235.0198029064, 100%, 50%, 0.9), -0.0934537425em 0.7491244322em 7px hsla(268.190346971, 100%, 50%, 0.9), 1.5735758985em 1.1145387622em 7px hsla(230.7633694245, 100%, 50%, 0.9), 2.3741772877em 2.3575991211em 7px hsla(285.5614050095, 100%, 50%, 0.9), 1.0631269259em 0.4427178103em 7px hsla(235.3316016205, 100%, 50%, 0.9), 1.3191930893em 2.0873403962em 7px hsla(240.5243173379, 100%, 50%, 0.9), -0.0673870003em 1.7273807488em 7px hsla(272.0297591118, 100%, 50%, 0.9), 1.2268424926em 1.8942184105em 7px hsla(290.311130516, 100%, 50%, 0.9), 2.0015289756em 0.5549816158em 7px hsla(255.9095502046, 100%, 50%, 0.9), 0.0870622051em 0.4538049424em 7px hsla(231.1867853936, 100%, 50%, 0.9), 1.0837273359em 1.819120187em 7px hsla(233.4640990673, 100%, 50%, 0.9), 0.9059087891em 1.1202361547em 7px hsla(239.0000536306, 100%, 50%, 0.9), 0.1519140725em 1.2727809295em 7px hsla(282.1400934191, 100%, 50%, 0.9), 1.9706036781em 2.4678839415em 7px hsla(201.5989562276, 100%, 50%, 0.9), 0.3622056331em 0.4828350968em 7px hsla(286.7351861801, 100%, 50%, 0.9), 0.3171009241em 1.2703963695em 7px hsla(241.2567821894, 100%, 50%, 0.9), -0.2697352434em 0.4890378169em 7px hsla(297.573599128, 100%, 50%, 0.9), 0.8522037996em 1.175465113em 7px hsla(256.3403381064, 100%, 50%, 0.9), 2.0730989709em 2.0707029937em 7px hsla(244.2376905093, 100%, 50%, 0.9), 0.4169152589em -0.2372310775em 7px hsla(285.999769181, 100%, 50%, 0.9), 2.0929004276em 0.387736544em 7px hsla(268.8515204356, 100%, 50%, 0.9), -0.237323071em 1.1538433438em 7px hsla(285.1037771716, 100%, 50%, 0.9), 1.0070573675em 0.0079451009em 7px hsla(253.9849535536, 100%, 50%, 0.9), 0.2445385292em -0.365045997em 7px hsla(256.1314193414, 100%, 50%, 0.9), 1.0831896111em 0.3092139852em 7px hsla(286.4393487275, 100%, 50%, 0.9), 1.2608502107em 1.1491411138em 7px hsla(222.275199182, 100%, 50%, 0.9), -0.451393833em -0.3897468313em 7px hsla(264.4949037738, 100%, 50%, 0.9), 1.4714354337em 2.2409422017em 7px hsla(248.0030206609, 100%, 50%, 0.9), 0.4916372703em 0.0033665959em 7px hsla(275.1268833049, 100%, 50%, 0.9), 1.771539272em 1.5206002042em 7px hsla(237.5813848134, 100%, 50%, 0.9), -0.0335645961em 0.2356517817em 7px hsla(296.7219583021, 100%, 50%, 0.9), 2.3676051767em 1.0491665105em 7px hsla(291.4533448695, 100%, 50%, 0.9), 0.5435488994em 0.2337445806em 7px hsla(239.4204022121, 100%, 50%, 0.9), 2.2932455673em 2.0137446022em 7px hsla(248.3552963969, 100%, 50%, 0.9), 1.2145056413em 2.0155498672em 7px hsla(274.9848721117, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

.backgroundFX::after {
  text-shadow: 1.2842393289em 1.6820790112em 7px hsla(269.1181847135, 100%, 50%, 0.9), 1.7428140794em 1.8252047738em 7px hsla(265.608678711, 100%, 50%, 0.9), 0.2431229487em 1.0563564696em 7px hsla(238.0146247786, 100%, 50%, 0.9), 2.2737932333em 0.8244179716em 7px hsla(281.4383849029, 100%, 50%, 0.9), 1.9774525567em 0.8756393657em 7px hsla(207.3683942128, 100%, 50%, 0.9), 1.0130837801em 0.3823623106em 7px hsla(254.8625740289, 100%, 50%, 0.9), 1.221269489em 0.5480843596em 7px hsla(242.4377876876, 100%, 50%, 0.9), 1.1511541808em 0.8461776636em 7px hsla(216.7968133825, 100%, 50%, 0.9), 0.9623854676em 0.3045994303em 7px hsla(239.7264524279, 100%, 50%, 0.9), 0.8387317627em 1.7179213764em 7px hsla(213.140820659, 100%, 50%, 0.9), -0.3257073505em 1.1617731937em 7px hsla(222.6121274263, 100%, 50%, 0.9), 1.3332030143em 0.4929830821em 7px hsla(243.6615783293, 100%, 50%, 0.9), 0.8036177144em -0.0081550502em 7px hsla(272.4227428268, 100%, 50%, 0.9), 0.5085705908em 0.8706465748em 7px hsla(262.7007902784, 100%, 50%, 0.9), 1.0960607626em 1.2146356332em 7px hsla(289.3762468679, 100%, 50%, 0.9), 0.982636463em 0.5617598605em 7px hsla(231.2163403242, 100%, 50%, 0.9), 0.7669737843em -0.3882215622em 7px hsla(272.3838908993, 100%, 50%, 0.9), 0.9508486246em 1.785575392em 7px hsla(269.9007158264, 100%, 50%, 0.9), 1.4700248901em 1.0514775345em 7px hsla(251.3639889197, 100%, 50%, 0.9), 0.9847219498em 0.6817067616em 7px hsla(295.5950252184, 100%, 50%, 0.9), 1.294480456em 1.9679533527em 7px hsla(291.0714344407, 100%, 50%, 0.9), 2.1205739586em 0.2256194511em 7px hsla(245.163614392, 100%, 50%, 0.9), 2.2364628277em 0.7980893695em 7px hsla(214.8076967656, 100%, 50%, 0.9), 0.1316310747em 0.5795402397em 7px hsla(217.9579170421, 100%, 50%, 0.9), 2.3578570516em 0.9990056629em 7px hsla(247.9521960657, 100%, 50%, 0.9), 1.5622822422em 2.1944746461em 7px hsla(217.930333686, 100%, 50%, 0.9), 1.8309140414em 0.0950791302em 7px hsla(247.3203367094, 100%, 50%, 0.9), 2.0320455711em 1.9014176473em 7px hsla(282.5908276987, 100%, 50%, 0.9), 1.5978374507em 0.2010709137em 7px hsla(261.7668877732, 100%, 50%, 0.9), 1.8311087086em -0.2845734508em 7px hsla(289.5445489183, 100%, 50%, 0.9), 1.6895416866em 0.4826433829em 7px hsla(237.9287067841, 100%, 50%, 0.9), 0.7598011549em 0.8174089719em 7px hsla(269.8230226213, 100%, 50%, 0.9), 1.0409009182em -0.1348679602em 7px hsla(292.066222052, 100%, 50%, 0.9), 2.2151143818em 0.3279526084em 7px hsla(267.1226506477, 100%, 50%, 0.9), 1.744173285em 1.7786909949em 7px hsla(244.7307236232, 100%, 50%, 0.9), 0.55518207em 2.1646311748em 7px hsla(217.0464822456, 100%, 50%, 0.9), 0.0897519513em 2.1246823455em 7px hsla(238.1569569939, 100%, 50%, 0.9), 0.1833050904em 1.0597738758em 7px hsla(286.1046956494, 100%, 50%, 0.9), 1.180924953em 1.9592418113em 7px hsla(219.1255382431, 100%, 50%, 0.9), 1.174694575em 1.5742877933em 7px hsla(290.2594667382, 100%, 50%, 0.9), -0.2852922916em 0.1274369072em 7px hsla(230.166940898, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
.languageSelector {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: #ffffff;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 120px;
  position: relative;
  background-color: #022631;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: rgb(229, 231, 235);
  margin: 0 2em;
}
.languageSelector:hover {
  cursor: pointer;
}

.CTAButton {
  padding: 0.5em 2em;
  background-color: #5931dd;
  color: white;
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  display: inline-block;
  z-index: 2;
  white-space: nowrap;
}
.CTAButton:hover {
  transform: translateY(5px);
  cursor: pointer;
}

.largeCardComponent {
  background-color: #5931dd;
  color: #ffffff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  height: 600px;
  width: 350px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
}
.largeCardComponent__coverImage {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}
.largeCardComponent__content {
  padding: 0px 24px 32px;
}
.largeCardComponent__image {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.largeCardComponent__imageContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: -50px;
}
.largeCardComponent__imageAvatar {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: rgb(229, 231, 235);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  height: 100px;
  width: 100px;
}
.largeCardComponent__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.largeCardComponent__skillName, .largeCardComponent__skillTime {
  margin: 0;
}
.largeCardComponent__divider {
  border: solid #ffffff 0.5px;
  margin: 1em;
}
.largeCardComponent__tagContainer {
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  max-width: 100%;
}
.largeCardComponent__Container {
  width: 80%;
  background-color: #022631;
  padding: 2em 1em;
  color: rgb(17, 25, 39);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgb(242, 244, 247);
  border-radius: 20px;
  background-image: none;
  overflow: hidden;
  flex-flow: wrap;
  min-width: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.tag {
  max-width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.8125rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  color: #ffffff;
  border-radius: 16px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0px;
  text-decoration: none;
  padding: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(229, 231, 235);
  font-weight: 500;
  margin: 4px;
}
.tag__text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
}

.form__container {
  width: 60%;
}
.form__input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: #ffffff;
  padding: 25px 12px 8px;
  box-sizing: border-box;
  font-family: monospace;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: rgb(229, 231, 235);
}
.form__largeInput {
  height: 200px;
}
.form__label {
  color: #ffffff;
  line-height: 1.4375em;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: relative;
  left: 0px;
  top: 10px;
  transform: translate(12px, 16px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
}
.form__label:focus {
  transform: translate(12px, 6px) scale(0.85);
}

.projectPreview__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #5931dd;
  color: #ffffff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: max-height 400ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  min-height: 420px;
  max-height: 805px;
  width: 320px;
  padding: 16px;
}
.projectPreview__card:hover, .projectPreview__card:focus {
  cursor: pointer;
  box-shadow: 0 0 20px #6c56b3;
}
.projectPreview__card:hover .projectPreview__image {
  max-height: 320px;
  margin: 1em 0;
}
.projectPreview__card:hover .projectPreview__date {
  margin: 0 4px;
}
.projectPreview__image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: max-height 200ms ease-in-out;
  max-height: 0;
  top: 0px;
  width: 100%;
  margin: 0;
  border-radius: 15px;
}
.projectPreview__date {
  margin: 0 4px;
}
.projectPreview__title {
  font-size: 1.777rem;
  margin: 0 4px;
  padding: 0;
}
.projectPreview__description {
  margin: 0 4px;
}

.servicesCard {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 25, 39);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  height: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 25%;
}
.servicesCard__container {
  display: flex;
  justify-content: space-evenly;
}
.servicesCard__text {
  text-align: center;
  z-index: 2;
}
.servicesCard__image {
  width: 90%;
  z-index: 2;
  margin: 2em 0;
  aspect-ratio: 1/1;
}
.servicesCard__button {
  max-width: 120px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.servicesCard__buttonContainer {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.navbar__menu {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.navbar__menu a {
  color: #ffffff;
  text-decoration: none;
}
.navbar__menuItem {
  z-index: 2;
  transition: transform 200ms ease-in-out, scale 200ms ease-in-out;
}
.navbar__menuItem:hover, .navbar__menuItem:focus {
  cursor: pointer;
  transform: translateY(-5px);
  scale: 1.2;
  font-weight: 800;
}
.navbar--scrolled {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
}

.socials {
  margin-top: -50px;
  margin-bottom: 50px;
  max-height: 5vw;
  position: sticky;
  z-index: 5;
  top: 20%;
  left: 100%;
  scale: 0.75;
  transition: scale ease-in-out 200ms;
}
.socials:hover, .socials:focus {
  scale: 1.25;
}

@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 0.5em;
}

@media (max-width: 737px) {
  .social-list {
    width: 60vw;
  }
}
.social-list__link {
  color: #5931dd;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.5em;
  width: 100%;
  height: 100%;
}
.social-list__icon:hover, .social-list__icon:active {
  animation: bounce2 2000ms ease infinite;
  cursor: pointer;
}
.social-list__item {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal {
  background-color: #022631;
  position: fixed;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  z-index: 9;
  overflow: scroll;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modalClose {
  position: sticky;
  margin-top: 2em;
  left: 95%;
  outline: 0px;
  border: 0px;
  margin: 10px;
  cursor: pointer;
  line-height: 1.75;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #ffffff;
  border-radius: 12px;
  padding: 6px 16px;
  background-color: #022631;
}
.modalClose:hover, .modalClose:focus {
  cursor: pointer;
  background-color: #6c56b3;
  box-shadow: 0 0 20px #6c56b3;
}

.Overlay {
  position: fixed;
  background-color: purple;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.projectModal {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 16px;
}
.projectModal__image {
  width: 49%;
}
.projectModal__firstContainer {
  display: flex;
  gap: 2em;
}
.projectModal__secondContainer {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2em 0.5em;
  overflow: hidden;
  align-self: flex-start;
  margin: 1em 1em;
}
.projectModal__exampleImages {
  max-width: 90%;
  transition: scale 200ms ease-in-out;
  max-height: 800px;
}
.projectModal__exampleImages:hover {
  cursor: pointer;
}
.projectModal__exampleImages--focus {
  position: absolute;
  z-index: 11;
  transform: translateY(-200px);
  height: auto;
  max-width: 80vw;
  max-height: auto;
  overflow: scroll;
  object-fit: cover;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.homepage__experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage__about {
  background-color: #01181e;
  z-index: 1;
  padding: 2em 0;
  min-height: 40vh;
  width: 100%;
}
.homepage__aboutText {
  width: 80%;
  font-size: 1.777rem;
  text-align: center;
}
.homepage__contact {
  z-index: 1;
  margin-bottom: 4em;
}
.homepage__projects {
  margin: 4em 0;
  z-index: 1;
  background-color: #01181e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
  height: 90vh;
  z-index: 1;
}
.hero__image {
  border-radius: 50%;
  width: 95%;
  height: 95%;
}
.hero__imageContainer {
  border-radius: 50%;
  width: 228px;
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.projects__container {
  min-height: 800px;
  width: 90%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 4em 2em;
  overflow: hidden;
  margin: 2em 1em;
  padding: 0 2em;
}

.section__title {
  margin: 2em;
  z-index: 1;
}

/*# sourceMappingURL=App.css.map */
