@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
body {
  font-family: "Poppins";
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

html,
body {
  background-color: #000000;
  color: #E5E7F0;
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background: #123;
}

.backgroundFX {
  display: flex;
  font-size: 52px;
  color: transparent;
  z-index: 0;
}

.backgroundFX::before, .backgroundFX::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

.backgroundFX::before {
  text-shadow: -0.2007453271em 0.7475686759em 7px hsla(41.7104044567, 100%, 50%, 0.9), 2.1728786322em 0.8649126076em 7px hsla(44.9948934419, 100%, 50%, 0.9), 0.8482938574em 1.7709671249em 7px hsla(25.1560048861, 100%, 50%, 0.9), 1.4234482296em 0.2600580662em 7px hsla(15.7068831048, 100%, 50%, 0.9), 1.3657523014em 2.1150007478em 7px hsla(16.8369238763, 100%, 50%, 0.9), 0.705745913em 0.3287305101em 7px hsla(46.0132884737, 100%, 50%, 0.9), -0.4709947044em 0.0132638544em 7px hsla(16.2200837103, 100%, 50%, 0.9), 0.481742919em 1.3377754485em 7px hsla(25.7487136115, 100%, 50%, 0.9), 0.2419058535em 0.6673516767em 7px hsla(12.2307025432, 100%, 50%, 0.9), 0.9330159975em 1.9104409945em 7px hsla(25.5473804942, 100%, 50%, 0.9), -0.3932529896em 0.960072982em 7px hsla(49.8336824277, 100%, 50%, 0.9), 1.381787826em 0.0828978169em 7px hsla(40.8596828604, 100%, 50%, 0.9), 1.8734914652em 2.2989787907em 7px hsla(44.7538182476, 100%, 50%, 0.9), 1.4411817841em 1.7909435685em 7px hsla(18.7072946009, 100%, 50%, 0.9), -0.0987916907em 1.9454495944em 7px hsla(43.7295924279, 100%, 50%, 0.9), 2.251005851em 1.1792361957em 7px hsla(20.6118467267, 100%, 50%, 0.9), 1.8543093849em -0.0572490031em 7px hsla(5.1063177884, 100%, 50%, 0.9), 1.0948925204em 1.1785990405em 7px hsla(48.8442539514, 100%, 50%, 0.9), 2.2064109722em 0.1135081622em 7px hsla(42.9150643076, 100%, 50%, 0.9), 2.4797861823em 0.8218463657em 7px hsla(15.9419707741, 100%, 50%, 0.9), 1.0595234543em 0.7133500693em 7px hsla(15.0035600716, 100%, 50%, 0.9), 2.4001155591em 0.332442875em 7px hsla(9.8677665683, 100%, 50%, 0.9), 0.6382072261em -0.304283406em 7px hsla(37.5348251719, 100%, 50%, 0.9), 1.6937274053em 1.6250933906em 7px hsla(9.8889543853, 100%, 50%, 0.9), 0.7824554989em 0.7418765988em 7px hsla(36.0523684882, 100%, 50%, 0.9), 0.3956438112em 1.7799281643em 7px hsla(2.5848359768, 100%, 50%, 0.9), 1.4825653079em 0.5039526025em 7px hsla(31.4196786924, 100%, 50%, 0.9), 1.6900663296em 1.3160831343em 7px hsla(46.1488830932, 100%, 50%, 0.9), 2.1366971447em 1.241793845em 7px hsla(5.6716645446, 100%, 50%, 0.9), 2.3067251679em 0.8706168623em 7px hsla(38.0753120762, 100%, 50%, 0.9), -0.2729067876em 1.3318279876em 7px hsla(2.0222039292, 100%, 50%, 0.9), 1.9698021181em 1.6869682251em 7px hsla(30.5228349775, 100%, 50%, 0.9), 1.3311822637em 1.192356073em 7px hsla(30.1275586338, 100%, 50%, 0.9), 1.5848566533em -0.0806913258em 7px hsla(17.5850378385, 100%, 50%, 0.9), 0.199916098em 1.398970639em 7px hsla(31.8568183729, 100%, 50%, 0.9), 2.4752196031em 1.9927057768em 7px hsla(1.5041958283, 100%, 50%, 0.9), 0.9813778439em 2.325221372em 7px hsla(26.9514562214, 100%, 50%, 0.9), -0.2938867526em 1.9278180626em 7px hsla(2.8583038621, 100%, 50%, 0.9), 2.1528124118em 1.7471076221em 7px hsla(6.5954654561, 100%, 50%, 0.9), 1.6328647696em 0.6514723155em 7px hsla(8.8225959197, 100%, 50%, 0.9), -0.2410050573em 0.1706942348em 7px hsla(40.3555207359, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

.backgroundFX::after {
  text-shadow: 1.141242312em 2.4679842479em 7px hsla(42.8833524429, 100%, 50%, 0.9), 1.4646953961em 0.9871733228em 7px hsla(3.952126519, 100%, 50%, 0.9), 2.1096884148em 1.1808911346em 7px hsla(24.3416081531, 100%, 50%, 0.9), 2.3515411624em 0.1246702895em 7px hsla(5.3431654291, 100%, 50%, 0.9), 0.8362657639em 1.9346095267em 7px hsla(43.366565644, 100%, 50%, 0.9), 0.9433243576em 1.2613530877em 7px hsla(18.7356573189, 100%, 50%, 0.9), 0.3268876884em 2.4615724914em 7px hsla(4.072103997, 100%, 50%, 0.9), -0.1243427576em 1.8353307074em 7px hsla(34.9746366111, 100%, 50%, 0.9), 0.771349583em -0.3833436352em 7px hsla(3.9128329956, 100%, 50%, 0.9), 2.3570968856em 2.1074616517em 7px hsla(46.6464088206, 100%, 50%, 0.9), 0.3001807166em -0.4383143114em 7px hsla(12.4194889939, 100%, 50%, 0.9), 0.8685411114em 1.7680654081em 7px hsla(10.3412837183, 100%, 50%, 0.9), 0.2874281569em 1.189912524em 7px hsla(4.998766132, 100%, 50%, 0.9), 1.6036526777em 2.4971069105em 7px hsla(27.8988466268, 100%, 50%, 0.9), 1.9211434418em 2.475600746em 7px hsla(47.4133417405, 100%, 50%, 0.9), 1.1919501861em 2.3845421959em 7px hsla(11.202587912, 100%, 50%, 0.9), 2.4667818057em 1.297513615em 7px hsla(5.3252905384, 100%, 50%, 0.9), 0.130959887em 2.2553027052em 7px hsla(48.8954791, 100%, 50%, 0.9), 1.2469794215em 0.7051208154em 7px hsla(28.7051640739, 100%, 50%, 0.9), 0.3899751006em 0.238586628em 7px hsla(46.7300451293, 100%, 50%, 0.9), 0.6404959053em 1.1484799423em 7px hsla(39.3514045634, 100%, 50%, 0.9), 0.3252438359em 1.3379093685em 7px hsla(11.6428725686, 100%, 50%, 0.9), 0.936744523em 1.3681256302em 7px hsla(39.1079734494, 100%, 50%, 0.9), 1.5616785186em 0.847141653em 7px hsla(44.9956013699, 100%, 50%, 0.9), 2.4740020316em 1.7248157204em 7px hsla(33.7536866952, 100%, 50%, 0.9), 0.8752110341em 2.4973873229em 7px hsla(22.0241128085, 100%, 50%, 0.9), 1.8759569904em 0.2140171024em 7px hsla(5.039053774, 100%, 50%, 0.9), -0.4394385367em 0.2049603921em 7px hsla(40.887015507, 100%, 50%, 0.9), 1.2897012687em 0.5431043146em 7px hsla(30.5146537145, 100%, 50%, 0.9), 1.2767611704em 1.0344336759em 7px hsla(49.3062192836, 100%, 50%, 0.9), -0.0889127139em 0.8791019918em 7px hsla(26.5214432366, 100%, 50%, 0.9), -0.0604171121em 1.8451305921em 7px hsla(29.8630682165, 100%, 50%, 0.9), 0.4024614514em 0.8251860062em 7px hsla(36.2818570303, 100%, 50%, 0.9), -0.233454632em -0.1469384338em 7px hsla(25.9604486743, 100%, 50%, 0.9), -0.0288622263em 2.014757804em 7px hsla(48.3016731667, 100%, 50%, 0.9), 0.3503108304em 0.4366087693em 7px hsla(10.6339048843, 100%, 50%, 0.9), 2.421873511em 2.2932972184em 7px hsla(33.06080546, 100%, 50%, 0.9), 1.7511599758em 2.3880405266em 7px hsla(41.4219432161, 100%, 50%, 0.9), 1.8552434146em 2.2018452804em 7px hsla(22.7817079709, 100%, 50%, 0.9), 1.090873272em 1.5529160597em 7px hsla(20.3078228768, 100%, 50%, 0.9), 0.6264629338em 0.9929938808em 7px hsla(31.3096090969, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
.languageSelector {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: #E5E7F0;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100px;
  position: relative;
  background-color: #131520;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: rgb(229, 231, 235);
  margin: 0 2em;
}
.languageSelector:hover {
  cursor: pointer;
}

.CTAButton {
  padding: 0.5em 2em;
  background-color: #48517A;
  color: #000000;
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  display: inline-block;
  z-index: 2;
  white-space: nowrap;
}
.CTAButton:hover {
  transform: translateY(5px);
}

.largeCardComponent {
  background-color: #131520;
  color: #E5E7F0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  height: 550px;
  width: 350px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
}
.largeCardComponent__coverImage {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}
.largeCardComponent__content {
  padding: 0px 24px 32px;
}
.largeCardComponent__image {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.largeCardComponent__imageContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: -50px;
}
.largeCardComponent__imageAvatar {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: rgb(229, 231, 235);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  height: 100px;
  width: 100px;
}
.largeCardComponent__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.largeCardComponent__skillName, .largeCardComponent__skillTime {
  margin: 0;
}
.largeCardComponent__divider {
  border: solid #E5E7F0 0.5px;
  margin: 1em;
}
.largeCardComponent__tagContainer {
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  max-width: 100%;
}
.largeCardComponent__Container {
  width: 80%;
  background-color: #131520;
  padding: 2em 1em;
  color: rgb(17, 25, 39);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgb(242, 244, 247);
  border-radius: 20px;
  background-image: none;
  overflow: hidden;
  flex-flow: wrap;
  min-width: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.tag {
  max-width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.8125rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  color: #E5E7F0;
  border-radius: 16px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0px;
  text-decoration: none;
  padding: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(229, 231, 235);
  font-weight: 500;
  margin: 4px;
}
.tag__text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
}

.form__container {
  width: 60%;
}
.form__input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: #E5E7F0;
  padding: 25px 12px 8px;
  box-sizing: border-box;
  font-family: monospace;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: rgb(229, 231, 235);
}
.form__largeInput {
  height: 200px;
}
.form__label {
  color: #E5E7F0;
  line-height: 1.4375em;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: relative;
  left: 0px;
  top: 10px;
  transform: translate(12px, 16px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
}
.form__label:focus {
  transform: translate(12px, 6px) scale(0.85);
}

.projectPreview__card {
  background-color: #48517A;
  color: #E5E7F0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: max-height 400ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
  background-image: none;
  overflow: hidden;
  border-radius: 20px;
  min-height: 280px;
  max-height: 575px;
  width: 320px;
  padding: 16px;
}
.projectPreview__card:hover, .projectPreview__card:focus {
  cursor: pointer;
  box-shadow: 0 0 20px #5E6BA1;
}
.projectPreview__card:hover .projectPreview__image {
  max-height: 320px;
}
.projectPreview__image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: max-height 200ms ease-in-out;
  max-height: 0;
  top: 0px;
  width: 100%;
}
.projectPreview__date {
  margin: 1em 4px;
}
.projectPreview__title {
  font-size: 1.777rem;
  margin: 0 4px;
  padding: 0;
}
.projectPreview__description {
  margin: 0 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.navbar__menu {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.navbar__menu a {
  color: #E5E7F0;
  text-decoration: none;
}
.navbar__menuItem {
  z-index: 2;
  transition: transform 200ms ease-in-out, scale 200ms ease-in-out;
}
.navbar__menuItem:hover, .navbar__menuItem:focus {
  cursor: pointer;
  transform: translateY(-5px);
  scale: 1.2;
  font-weight: 800;
}
.navbar--scrolled {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
}

.socials {
  max-height: 5vw;
  position: sticky;
  top: 20%;
  left: 100%;
  scale: 0.75;
  transition: scale ease-in-out 200ms;
}
.socials:hover, .socials:focus {
  scale: 1.25;
}

@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 0.5em;
}

@media (max-width: 737px) {
  .social-list {
    width: 60vw;
  }
}
.social-list__link {
  color: #48517A;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.5em;
  width: 100%;
  height: 100%;
}
.social-list__icon:hover, .social-list__icon:active {
  animation: bounce2 2000ms ease infinite;
  cursor: pointer;
}
.social-list__item {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.homepage__experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage__about {
  background-color: #000000;
  z-index: 1;
  padding: 2em 0;
  min-height: 40vh;
}
.homepage__aboutText {
  width: 80%;
  text-align: center;
}
.homepage__contact {
  z-index: 1;
  margin-bottom: 4em;
}
.homepage__projects {
  margin: 4em 0;
  z-index: 1;
  background-color: #000000;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
  height: 90vh;
  z-index: 1;
}
.hero__image {
  border-radius: 50%;
  width: 95%;
  height: 95%;
}
.hero__imageContainer {
  border-radius: 50%;
  width: 228px;
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.projects__container {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 4em 2em;
  overflow: hidden;
  align-self: flex-start;
  margin: 2em 1em;
}

/*# sourceMappingURL=App.css.map */
